html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
}

#start_screen {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    position: relative;
    border: 3px solid #29323c;
    overflow: hidden;
    background: url('front_bg.jpg');
    position: absolute;
    z-index: 100;
}

#front_page_heading{
    position: absolute;
    font-size: 70px;
    color: #85144b;
    top: 20%;
    left: 5%;
    text-shadow: 2px 2px 4px #91C9FF;
}

.front_page_text{
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    top: 35%;
    left: 8%;
    color: #001f3f;
}

#front_page_image {
    width: 700px;
    height: 700px;
    position: absolute;
    right: 10%;
    top: 40%;
}

#front_page_js_icon {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 3%;
    top: 20%;
    -webkit-filter: drop-shadow(5px 5px 5px #666666);
    filter: drop-shadow(10px 5px 5px #666666);
}

.btn {
    width: 180px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 20%;
    cursor: pointer;
    background-color: #85144b;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
.btn:hover {
    transition: 1s ease-in-out;
    background: #001f3f;
    
  }
  
.btn:hover svg {
    stroke-dashoffset: -480;
  }
  
.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  
#container {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    position: relative;
    border: 3px solid #29323c;
    overflow: hidden;
    background: url('bg3.png');
    position:relative;
    z-index: 0;
}

#score_help {
    text-align: center;
    font-size: 25px;
    background-color: #eaeaea;
    border: 2px solid #29323c;
}

#branch {
    position: absolute;
    height: 2%;
    width: 100%;
    background-color: #8B4513;
    top: 23%;
    border: 2px solid #29323c;
}

.programmers {
    position: absolute;
    height: 15%;
    width: 8%;
    top: 8%;
    background: url('programmer.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    
}

#programmer1 {
    left: 20%;
}

#programmer2 {
    left: 45%;
}

#programmer3 {
    left: 70%;
}

.js_icons {
    position: absolute;
    height: 12%;
    width: 6%;
    top: 18%;
    background: url('js.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
}

#js_icon1 {
    left: calc(20% + 8%/2 - 6%/2);
}

#js_icon2 {
    left: calc(45% + 8%/2 - 6%/2);
}

#js_icon3 {
    left: calc(70% + 8%/2 - 6%/2);
}

.fail {
    display: none;
    position: absolute;
    left: 3%;
    bottom: 8%;
    height: 70px;
    width: 70px;
    background: url('fail.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 11;
    
}

#fail_1 {
    left: calc(20% + 8%/2 - 7%/2);
}

#fail_2 {
    left: calc(45% + 8%/2 - 7%/2);
}

#fail_3 {
    left: calc(70% + 8%/2 - 7%/2);
}

#floor {
    position: absolute;
    height: 7%;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

#rail {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -30%;
}

#cart {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 5px;
    background: url('carttt.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

#score_1 {
    position: absolute;
    color: #DAA520;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

#restart {
    border: 0;
    position: absolute;
    z-index: 1000;
    height: 15%;
    width: 50%;
    left: 25%;
    color: #DAA520;
    top: 40%;
    font-size: 45px;
    display: none;
    cursor: pointer;
    background-color: #8B4513;
    border: 2px solid #DAA520;
    outline: none;
    border-radius: 25px;
    font-weight: 1000;
    text-shadow: 1px 1px 2px #000000;
}

#restart:hover{
    border: 0;
    position: absolute;
    z-index: 1000;
    height: 15%;
    width: 50%;
    left: 25%;
    color: #583415;
    top: 40%;
    font-size: 45px;
    display: none;
    cursor: pointer;
    background-color: #DAA520;
    border: 2px solid #8B4513;
    outline: none;
    transition: 0.2s ease-in-out;
}